body {
  height: 3000px;
  background-color: #f99034;
}


// NAME -- TITLE --
.header {
  text-align: center;
  width: 100%;
  height: 800px;
  background-color: #f99034;
  color: white;

}

.githubHeader{
  margin-right: 20px;
}

.emailHeader{
  margin-right: 20px;
}

.linkedinHeader{
  margin-right: 20px;
}

#headerText > i {
  margin-top: 60px;
  margin-right: 20px;
}

// PADDING FROM TOP FOR MATTHEW LOMBANA
#headerText {
  padding-top: 200px;
}


h1 {
  font-size: 450%;
}

h2 {
  font-size: 300%;
  padding-top: 60px;
}
h5 {
  font-size: 200%;
  margin-top: 70px;
}

a:link {
  color: white;
}

a:hover {
  color: #273135;
}

// GITHUB ICON
#headerText > a.githubHeader > i{
  color: white;
}
#headerText > a.githubHeader > i:hover{
  color: #273135;
}


// PROJECTS AND MORE
.projectWrapper{
  // text-align: center;
  margin-top: 20px;
  width: 100%;
  height: 2000px;
  background-color: #fff
}

.ProjectOne {
  background-color: grey;
  width: 80%;
  height: 300px;
  margin-left: 140px;
  color: white;

}

.contactForm{

}

#submit {
margin-left: 150px;
}

footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.githubFooter{
  margin-right: 20px;
}

.emailFooter{
  margin-right: 20px;
}

.linkedinFooter {
  margin-right: 20px;
}
